
@{
    ViewBag.Title = "LogIn";
}

<h2>로그인</h2>
<form action="/User/LogIn" method="post">
    <div>
        <label>이메일</label>
        <input type="email" name="Email" required />

        <label>비밀번호</label>
        <input type="password" name="Pw" id="password" required />

        <button type="submit">로그인</button>
    </div>
</form>
<button onclick="location.href='/User/SignUp'">회원가입</button>
