
@{
    ViewBag.Title = "Login";
}

<h2>로그인</h2>
<div>
    <label>이메일</label>
    <input type="email" name="email" value="" />

    <label>비밀번호</label>
    <input type="password" name="password" value="" />

    <button>로그인</button>
</div>
<button onclick="location.href='/User/Index'">회원가입</button>