
@{
    ViewBag.Title = "Sign Up";
}

<h2>회원 가입</h2>
<form class="form-horizontal"style="display:flex; flex-direction:column;">
    <div>
        <label>Email</label>
        <input type="email" name="email" value="" id="email" />
        <button id="check">중복 확인</button>
    </div>
    <div>
        <label>PassWord</label>
        <input type="password" name="password" value="" id="password" />
    </div>
    <div>
        <label>Name</label>
        <input name="name" value="" id="name" />
    </div>
    <div>
        <label>Birth</label>
        <input name="birth" value="" id="birth" />
    </div>
    <button id="join" onclick="location.href='/User/Login'">회원 가입</button>
</form>
