
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <thead class="">
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">댓글</th>
            <th scope="col">추천</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>TEST</td>
            <td>백재원</td>
            <td>12</td>
            <td>3</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" onclick="location.href='/Board/Write'">글쓰기</button>

