
@{
    ViewBag.Title = "글작성";
}

<h2>글작성</h2>

<form id="FileUploadForm" enctype="">
    <div class="form-group">
        <label>제목</label>
        <input type="text" class="form-control" placeholder="제목" id="title" required>
    </div>

    <div class="form-group">
        <label>작성자</label>
        <input type="text" class="form-control" placeholder="제목" id="writer" required>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">글 내용</label>
        <textarea class="form-control"rows="5" id="main-content" required></textarea>
    </div>
    <input id="fileInput" type="file" multiple accept="image/jpeg, image/jpg, image/png">

    <button class="btn btn-primary">글작성</button>
</form>
    

<script>
    document.getElementById('FileUploadForm').onsubmit = function () {
        const formdata = new FormData();
        const fileInput = document.getElementById('fileInput');
        const fileName = [];
        if (fileInput.files.length >= 3) {
            alert('파일은 최대 2개까지 첨부 가능합니다.');
            fileInput.files.value = "";
            fileInput.value = "";
            return;
        }
        for (i = 0; i < fileInput.files.length; i++) {
            fileName.push(fileInput.files[i].name);
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/Board/UploadFiles');
        xhr.send(formdata);

        const param = {
            Title: $('#title').val(),
            Name: $('#writer').val(),
            MainContent: $('#main-content').val(),
            FileName: fileName[0],
            FileName2: fileName[1],
        }
        $.ajax({
            url: '/Board/Write',
            type: 'post',
            dataType: "json",
            data: JSON.stringify(param),
            contentType: "application/json",
            success: function (data) {
            },
            error: function () {
            }
        });
    }
</script>

