
@{
    ViewBag.Title = "글작성";
}

<h2>글작성</h2>

<form action="/Board/Write" method="post">
    <div class="form-group">
        <label>제목</label>
        <input type="text" class="form-control" placeholder="제목" name="Title" required>
    </div>

    @*TODO 로그인 한 user.name을 자동으로 입력*@
    <div class="form-group">
        <label>작성자</label>
        <input type="text" class="form-control" placeholder="제목" name="Name" required>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">글 내용</label>
        <textarea class="form-control" name="MainContent" rows="5" required></textarea>
    </div>
    <div>
        <input type="file" id="upload" accept=".gif, .jpg, .png, .hwp, .xls, .pdf, .doc " name="file">
        <button id="upload-btn" type="button">파일 업로드</button>
    </div>

    <button class="btn btn-primary" type="submit">글작성</button>
</form>

<form action="/Board/Upload" method="post" enctype="multipart/form-data">    
    <input type="file" name="file" id="file">     
    <input type="submit">
</form>

