
@{
    ViewBag.Title = "글작성";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <h2>글작성</h2>
    <form id="FileUploadForm">
        <div class="form-group">
            <label>제목</label>
            <input type="text" class="form-control" placeholder="제목" id="title" required>
        </div>
        <div class="form-group">
            <label>작성자</label>
            <input type="text" class="form-control" id="writer" value=@Session["Name"] readonly>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">글 내용</label>
            <textarea class="form-control" rows="5" id="main-content" required></textarea>
        </div>
        <input id="fileInput" type="file" multiple accept="image/jpeg, image/jpg, image/png" onchage="checkSize(this)">
        <button class="btn btn-primary">글작성</button>
    </form>
</body>
</html>



<script>
    document.getElementById('FileUploadForm').onsubmit = function () {
        const formdata = new FormData();
        const fileInput = document.getElementById('fileInput');
        const fileName = [];

        if (fileInput.files.length >= 3) {
            alert('파일은 최대 2개까지 첨부 가능합니다.');
            fileInput.files.value = "";
            fileInput.value = "";
            return;
        }

        for (i = 0; i < fileInput.files.length; i++) {
            fileName.push(fileInput.files[i].name);
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }

        const xhr = new XMLHttpRequest();

        xhr.open('POST', '/Board/UploadFiles');
        xhr.send(formdata);

        const param = {
            Title: $('#title').val(),
            Name: $('#writer').val(),
            MainContent: $('#main-content').val(),
            Email: "@Session["Email"]",
            FileName: fileName[0],
            FileName2: fileName[1],
        }

        $.ajax({
            url: '/Board/Write',
            type: 'post',
            data: JSON.stringify(param),
            contentType: 'application/json',
            success: function () {
                alert('게시글 작성이 완료되었습니다.');
                window.location.href = "/Board/Index";
            },
            error: function () {
            }
        });
    }

    function checkSize(input) {
        if (input.files && input.files[0].size > (5 * 1024 * 1024)) {
            alert("파일 사이즈가 5mb 를 넘습니다.");
            input.value = null;
        }
    }
</script>

