
@{
    ViewBag.Title = "글작성";
}

<h2>글작성</h2>

<form id="FileUploadForm">
    <div class="form-group">
        <label>제목</label>
        <input type="text" class="form-control" placeholder="제목" id="title" required>
    </div>

    <div class="form-group">
        <label>작성자</label>
        <input type="text" class="form-control" placeholder="제목" id="writer" required>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">글 내용</label>
        <textarea class="form-control"rows="5" id="main-content" required></textarea>
    </div>
    <input id="fileInput" type="file" multiple accept="image/jpeg, image/jpg, image/png">

    <button class="btn btn-primary">글작성</button>
</form>
    

<script>
    document.getElementById('FileUploadForm').onsubmit = function (event) {
        event.preventDefault();

        const formdata = new FormData();
        const fileInput = document.getElementById('fileInput');

        if (fileInput.files.length >= 3) {
            alert('파일은 최대 2개까지 첨부 가능합니다.');
            fileInput.files.value = "";
            fileInput.value = "";
        }
        for (i = 0; i < fileInput.files.length; i++) {
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }

        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/Board/UploadFiles');
        xhr.send(formdata); 
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText);
            }
        }
        // 글쓰기
        const param = {
            Title: $('#title').val(),
            Name: $('#writer').val(),
            MainContent: $('#main-content').val(),
        }
        $.ajax({
            url: '/Board/Write',
            type: 'post',
            dataType: "json",
            data: JSON.stringify(param),
            contentType: "application/json",
            success: function (data) {
            },
            error: function () {
            }
        });
        
    }
</script>

